{{ attach_library('suffix_zx/suffpage-home') }}
	<header class="header">
		<a href="javascript:history.back(-1);" class="pl backtohis"></a>
		<h2 class="headerTitle"><span>我的订单</span></h2>
	</header>
	<div class="order-main wrapper">
		<div class="nav-tab-top">
			<ul class="flex">
				<li data-code="waitOrder" class="cur">待接单</li>
				<li data-code="waitConfirm" class="">待确认</li>
				<li data-code="underway" class="">进行中</li>
				<li data-code="waitFinish" class="">已完成</li>	
			</ul>
		</div>
		<div class="scroll-wrap" data-index="waitOrder">
			<div class="scroll-content">
				<div class="order-cont">
					<div class="order-list">
                        {% for item in orderList %}
							{% if item.item_count > 1 %}
						<div class="order-item">
							<div class="order-ddhsj flex">
								<span><label>订单号:</label><em>{{ item.order_number }}</em></span>
								<span class="time">{{ item.order_time }}</span>
							</div>
							<div class="item-list flex">
								<ul class="clearfix">
									{% for product in  item['order_items']%}
									<li>
										{{ product.smallimg }}
									</li>
									{% endfor %}
								</ul>
								<span class="nape">共{{ item.item_count }}项</span>
							</div>
							<div class="orderop flex">
								<span class="total-price">总计: ￥{{ item.order_total }}</span>
								<div class="tab-btns">
									<!-- <a href="javascript:;" class="secondary-btn">取消订单</a>
									<a href="/user/{{ _context.user.id }}/orders/detail" class="primary-btn">去付款</a>
									<a href="javascript:;" class="green-btn">已完成</a> -->
									<a href="javascript:;" class="disabled-btn">已完成</a>
								</div>
							</div>
						</div>
								{% else %}
						<div class="order-item">
										<div class="order-ddhsj flex">
											<span><label>订单号:</label><em>{{ item.order_number }}</em></span>
											<span class="time">{{ item.order_time }}</span>
										</div>
										<div class="commodity-briefInfo">
											{{ item['order_items'][0]['smallimg'] }}
											<div class="li-ri">
												<p class="flex"><span class="tit">{{ item['order_items'][0]['title'] }}</span><span class="price">￥{{ item['order_items'][0]['unitPrice'] }}</span></p>
												<p class="flex"><span class="amount">x {{ item['order_items'][0]['quantity'] }}</span></p>
											</div>
										</div>
										<div class="orderop flex">
											<span class="total-price">总计: ￥{{ item.order_total }}</span>
											<div class="tab-btns">
												<a href="javascript:;" class="disabled-btn">已完成</a>
												<a href="/user/{{ _context.user.id }}/orders/schedule" class="green-btn">查看进度</a>
											</div>
										</div>
									</div>
						{% endif %}
						<!--<div class="order-item">
							<div class="order-ddhsj flex">
								<span><label>订单号:</label><em>1021254212</em></span>
								<span class="time">2017-10-20 17:41</span>
							</div>
							<div class="commodity-briefInfo">
								<img src="../image/cart-listimg.jpg" alt="">
								<div class="li-ri">
									<p class="flex"><span class="tit">卫生间改造(老人适用型)</span><span class="price">￥13900.00</span></p>
									<p class="flex"><span class="spec">1m2起（含1m2）</span><span class="amount">x 1</span></p>
								</div>
							</div>
							<div class="orderop flex">
								<span class="total-price">总计: ￥139</span>
								<div class="tab-btns">
									<a href="javascript:;" class="secondary-btn">取消订单</a>
									<a href="javascript:;" class="primary-btn">去付款</a>
								</div>
							</div>
						</div>-->
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="scroll-wrap" data-index="waitConfirm" style="display: none">暂无待确认</div>
		<div class="scroll-wrap" data-index="underway"  style="display: none">暂无进行中</div>
		<div class="scroll-wrap" data-index="waitFinish"  style="display: none">暂无已完成</div>
	</div>
	<div class="bottom-fxied">
        {% include '@suffix_zx/includes/footer.html.twig' %}
	</div>