{{ attach_library('suffix_zx/suffpage-home') }}
<!--- Start content -->
{% if page.content %}
  <div class="content_layout">
    <div class={{contentlayout}}>
        {{ page.content }}
    </div>
  </div>
{% endif %}
{{ page['#theme'] }}
{{ kint() }}
{{ breakpoint(fields) }}
<!-- test -->
<header class="header">
  <a href="javascript:;" class="city"><span>上海</span></a>
  <form class="search-box" action="">
    <div class="search-input">
      <input type="text" class="header-search" name="words" value="" placeholder="水槽下水系统维修">
      <div class="search-action">
        <a href="javascript:void(0);" class="imwap-close js-clear" style="display: none;"></a>
        <button class="imwap-search"></button>
      </div>
    </div>
    <!-- <a href="javascript:void(0);" class="search-cancel">取消</a> -->
  </form>
  <a href="tel:4008805230" class="phone"></a>
</header>
<div class="wrapper">
  <div class="swiper-container home-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="javascript:;">
          <img src="image/slider-benner01.jpg">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="javascript:;">
          <img src="image/slider-benner01.jpg">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="javascript:;">
          <img src="image/slider-benner01.jpg">
        </a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="shortcut-view">
    <ul class="clearfix">
      <li>
        <a href="javascript:;">
          <img src="image/entry-nav-01.png">
          <p>灯具电器</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="image/entry-nav-02.png">
          <p>厨卫洁具</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="image/entry-nav-03.png">
          <p>管道疏通</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="image/entry-nav-04.png">
          <p>家居杂修</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="image/entry-nav-05.png">
          <p>门窗家具</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="image/entry-nav-06.png">
          <p>墙面地面</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="image/entry-nav-07.png">
          <p>地热暖气</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="image/entry-nav-08.png">
          <p>防水补漏</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="image/entry-nav-09.png">
          <p>家电清洗</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="image/entry-nav-10.png">
          <p>上门安装</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="house-refresh">
    <h2 class="SubTitle"><span>全屋焕新</span><em class="hot-icon"></em></h2>
    <div class="refresh-content">
      <ul class="flex">
        <li>
          <a href="javascript:;">
            <img src="image/refresh-img01.jpg">
            <div class="Status-bar">
              <p class="flex"><strong>墙漆换新</strong><span>深度型</span></p>
              <label>￥<em>79</em>/㎡</label>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <img src="image/refresh-img02.jpg">
            <div class="Status-bar">
              <p class="flex"><strong>墙漆换新</strong><span>深度型</span></p>
              <label>￥<em>79</em>/㎡</label>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="local-remould">
    <h2 class="SubTitle"><span>局部改造</span></h2>
    <div class="retrofit-content">
      <div class="remouldTarget flex">
        <a href="javascript:;">厨房</a>
        <a href="javascript:;">卧室</a>
        <a href="javascript:;">卫生间</a>
        <a href="javascript:;">客厅</a>
      </div>
      <div class="retrofit-list">
        <ul>
          <li>
            <a href="javascript:;">
              <img src="image/home-list-img1.jpg">
              <div class="lr-attribute flex">
                <p>15m2 厨房改造套餐</p>
                <span><em>￥</em>45900<em>.00</em></span>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="image/home-list-img2.jpg">
              <div class="lr-attribute flex">
                <p>14m2 卫生间改造套餐</p>
                <span><em>￥</em>45900<em>.00</em></span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="bottom-fxied">
  <footer class="footer flex">
    <a class="home cur"><span></span><p>首页</p></a>
    <a class="order"><span></span><p>订单</p></a>
    <a class="find"><span></span><p>发现</p></a>
    <a class="cart"><span></span><p>购物车</p></a>
    <a class="my"><span></span><p>我的</p></a>
  </footer>
</div>
<script>
    var swiper = new Swiper('.home-swiper', {
        pagination: {
            el: '.swiper-pagination',
        },
    });
</script>