{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div class="shopping-cart cartwrapper">
  <div class="formula-bar flex">
    <span>已选中<em>{{ itemTotal }}</em>件商品</span>
    <a href="/cart/edit" class="c-2b">编辑</a>
  </div>
    {#{{ rows }}#}
    <div class="cartbuy">
        {% for item in orderItems %}
        <a href="{{ item.productUrl }}" class="cart-commodity flex">
            {#<label class="option selected"></label>#}
          {#{{ item.removeBtn }}#}
            <div class="commodity-ri clearfix">
                <div class="wares-img">
                    {{ item.smallimg }}
                </div>
                <div class="wares-info">
                    <h3>{{ item.title }}</h3>
                    <!--<p>1m2起（含1m2）</p>-->
                    <div class="pm flex">
                        <span class="price">￥<em>{{ item.totalPrice }}</em>.00</span>
                        <span class="amount">x <em>{{ item.quantity }}</em></span>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<div class="cartbuy-footer">
  <div class="cartbuy-box flex">
    {#<label class="cb-footer">#}
      {#<b></b>#}
      {#<span>全选</span>#}
    {#</label>#}
    <div class="pay-tatol">
      <div class="ta">
        <p class="je"><em>合计</em><span class="sum">￥<span class="price">{{ price_total }}</span>.00</span></p>
        <p class="no-yf">不含运费</p>
      </div>
    </div>
    <a href="/cart/confirm" class="buy-btn"><span>结算</span><span>(</span><span>{{ itemTotal }}</span><span>)</span></a>
  </div>
</div>
